:root {
  --mcYellow: #ffc72c;
  --mcRed: #da291c;
  --mcBlack: #27251f;
}

.menu {
  /* z-index: 1; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  padding: 40px;
  background: var(--mcRed);
  border: solid 2px var(--mcBlack);
  border-radius: 20px;
  color: white;
}