
.item_name {
    background: var(--mcYellow);
    padding: 6px;
    margin: 4px;
    border: 2px solid black;
    color: white;
    margin: 4px;
}

.item_name:hover {
    color: var(--mcRed);
}

.quantity {
    display: inline;
}

