:root {
  --mcYellow: #ffc72c;
  --mcRed: #da291c;
  --mcBlack: #27251f;
}

.menu {
  z-index: 1;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  background: var(--mcRed);
  border: solid 2px var(--mcBlack);
  border-radius: 20px;
  color: white;
}

.menu-item {
  list-style: none;
  text-align: center;
  background: var(--mcYellow);
  border-radius: 20px;
  margin: 3px;
  cursor: pointer;
  padding: 15px;
  height: 28px;
  border-bottom: 1px solid rgb(105, 98, 93);
}
.menu-item:hover {
  color: var(--mcRed);
}

.list-group {
  background-color: blue;
  width: fit-content;
}

.quantitybtns {
  display:inline-flex;
  flex-direction: column;
  background-color: blueviolet;
  
}
