.btn {
    margin-left: 350px;
    color: white;
    height: 40px;
    width: 100px;
}

.data p {
    margin-top: -2px;
    margin-left: -15px
}

.header h1 {
    color: #da291c;
    text-align: center;
}

.header p {
    margin-left: 33px;
}